body {
  background-color: black;
  color: white;
}

h1 {
  font-size: 50px;
}

.pageTitle {
  text-align: center;
}

.instructions {
  text-align: center;
}

.inputArea {
  margin-left: 4em;
  margin-right: 4em;
}

.outputResult {
  text-align: center;
}

.outputProbability {
  text-align: center;
  margin-top: 1em;
}

.outputDescription {
  text-align: center;
  margin-top: 1em;
}